{% extends "layout.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_admin.css') }}">
{% endblock link %}

{% block style %}
    <style>
        button.buttonreset{
            width: 40%;
            margin: 5px;
        }
    </style>
{% endblock style %}

{% block body %}
    
    <div class="AboutLogin">
        <br><br>
        <h1 style="font-size:36px;">Past Reports</h1><br>
        <h2>Patient Name: {{patient_name}}</h2><br><br>
        
        <table class="table table-hover">
            <thead>
            <tr>  
                <th>Doctor</th>  
                <th>Report Type</th> 
                <th>Details</th>
            </tr>
            </thead>
            <tbody>

            {% set count = list_length %}

            {% for n in range(count) %}
                
                {% set item_1 = doctors[n-1] %}
                {% set item_2 = reports[n-1] %}
                {% set item_3 = diseases[n-1] %}
                <tr>
                    <td>{{item_1}} </td>
                    <td>{{item_3}} </td>
                    <td>{{item_2.details}} </td>       
                </tr>
            {% endfor %}      
            </tbody>
        </table>  
       
        
        <br>
        <a href="/found_patient"><button class = "buttonreset">Return Profile</button></a><br>
    </div>

{% endblock body %}
